In [1]:
import pandas as pd
import urllib3 as urllib
import json
import IPython.display

In [2]:
http = urllib.PoolManager()

def getResponse(url):
    operUrl = http.request('GET', url)
    if(operUrl.status==200):
        data = operUrl.data
        jsonData = json.loads(data.decode('utf-8'))
    else:
        print("Error receiving data", operUrl.getcode())
    return jsonData

In [3]:
ltc_data = getResponse('http://www.dph.illinois.gov/sitefiles/COVIDLTC.json')
reporting_date = '%d-%02d-%02d' %(ltc_data['LastUpdateDate']['year'], ltc_data['LastUpdateDate']['month'], ltc_data['LastUpdateDate']['day'])

In [4]:
#Saving a copy of source data 
ltc_data_json = json.dumps(ltc_data)

f = open("Source_data/IL_" + reporting_date + "LTC_data_Source.json","w")
f.write(ltc_data_json)
f.close()

In [5]:
df = pd.DataFrame(ltc_data['FacilityValues'])
df['reporting_date'] = reporting_date
df['% deaths'] = df['deaths'] / df['confirmed_cases']
df['num of facilities'] = 1

In [6]:
df.to_csv('Reporting_data/IL_' + reporting_date + '_LTC_data_.csv', index = False)

In [7]:
a = df.sum()
print ('Date: %s' % reporting_date)
print ('Cases: %d' % a.confirmed_cases)
print ('Deaths:  %d'% a.deaths)
print ('Facilities: %d' % df.reporting_date.value_counts()[0])

Date: 2020-07-17
Cases: 23403
Deaths:  3974
Facilities: 643

In [8]:
df_county = df.groupby(by=['County']).sum()
df_county['% deaths'] = (df_county['deaths'] / df_county['confirmed_cases'])
df_county.sort_values('deaths', ascending=False)

             confirmed_cases  deaths  % deaths  num of facilities
County
Cook                   13396    2295  0.171320                286
DuPage                  2209     396  0.179267                 59
Lake                    1668     284  0.170264                 48
Kane                    1009     171  0.169475                 37
Will                     826     155  0.187651                 33
St. Clair                578      99  0.171280                 18
McHenry                  477      84  0.176101                 14
Winnebago                418      66  0.157895                 17
Madison                  302      61  0.201987                 14
Kankakee                 330      41  0.124242                 12
Sangamon                 148      28  0.189189                  6
Peoria                   147      26  0.176871                  7
Rock Island              191      23  0.120419                 11
Macon                    104      22  0.211538                  5
Union                    130      18  0.138462                  3
Clinton                  183      17  0.092896                  4
Jefferson                 73      16  0.219178                  1
McDonough                 69      16  0.231884                  3
Coles                     90      16  0.177778                  2
Jackson                   56      15  0.267857                  2
DeKalb                   123      15  0.121951                  4
Boone                     93      14  0.150538                  2
Kendall                   61      14  0.229508                  3
Monroe                    52      11  0.211538                  3
McLean                    63      11  0.174603                  2
LaSalle                   49      10  0.204082                  2
Whiteside                 70      10  0.142857                  6
Cass                      57      10  0.175439                  1
Jasper                    49       8  0.163265                  1
Tazewell                  26       6  0.230769                  2
Champaign                 39       4  0.102564                  4
Iroquois                  55       4  0.072727                  3
Morgan                    64       3  0.046875                  1
Grundy                    34       3  0.088235                  2
Wayne                      8       1  0.125000                  2
Lee                       76       1  0.013158                  1
Ogle                       8       0  0.000000                  2
Montgomery                15       0  0.000000                  2
Randolph                   4       0  0.000000                  2
Macoupin                   6       0  0.000000                  2
Logan                      2       0  0.000000                  1
Shelby                     8       0  0.000000                  2
Bond                       3       0  0.000000                  1
Stephenson                 2       0  0.000000                  1
Jo Daviess                 2       0  0.000000                  1
Ford                      11       0  0.000000                  3
Effingham                  3       0  0.000000                  1
Clark                      3       0  0.000000                  1
Christian                  2       0  0.000000                  1
Williamson                 2       0  0.000000                  1
Adams                      9       0  0.000000                  1

In [9]:
import altair as alt
df1=df_county.sort_values(by=['deaths'], ascending=False).reset_index()
cols = ['Deaths Non LTC', 'LTC Deaths']
cols = ['LTC Deaths', 'Deaths Non LTC']


chart1 = alt.Chart(df_county.sort_values(by=['deaths'], ascending=False).reset_index()).mark_bar().encode(
    x='deaths:Q',
    y=alt.Y('County:O', sort='-x'),
    tooltip=['County', 'deaths', 'confirmed_cases', '% deaths']
)
chart2=chart1.encode(x=alt.X('% deaths', axis=alt.Axis(format='%')))
#chart2=chart1.encode(x=alt.X('% deaths'))


chart1 | chart2

alt.HConcatChart(...)

In [10]:
import altair as alt
from vega_datasets import data
df1=df_county.sort_values(by=['deaths'], ascending=False).reset_index()
cols = ['Deaths Non LTC', 'LTC Deaths']
cols = ['LTC Deaths', 'Deaths Non LTC']


chart1 = alt.Chart(df_county.sort_values(by=['deaths'], ascending=False).reset_index()).mark_bar().encode(
    x='deaths:Q',
    y=alt.Y('County:O'),
    tooltip=['County', 'deaths', 'confirmed_cases', '% deaths']
)
chart2=chart1.encode(x=alt.X('% deaths', axis=alt.Axis(format='%')))
#chart2=chart1.encode(x=alt.X('% deaths'))


chart1 | chart2

ModuleNotFoundError: No module named 'vega_datasets'

In [ ]:
df.sort_values(by=['deaths'], ascending=False).to_csv('IL_LTC_Covid.csv')

In [ ]:
df.reporting_date.value_counts()[0]

In [ ]:
df.head()

In [ ]:
df.sum()

In [ ]:
df2 = pd.read_json(r'../Covid-County-LTC-Analysis/Source_data/IL_2020-05-29LTC_data_Source.json'[FacilityValues])

In [ ]:
int(3103.23)

In [ ]:
len(str(3103))

In [ ]:
def roundUp(n):
    '''Round up to set axis upper limit'''
    n1 = 10**(len(str(int(n))) - 2)
    return int(n/n1+1)*n1

In [ ]:
n=3103.23
n1=10**(len(str(int(n))) - 2)
int(n/n1+1)*n1

In [ ]:
print(roundUp(3199.33))
print(roundUp(39.33))

In [19]:
n=33.8
n1 = 10 ** (len(str(int(n))) - 2)
if n1 <0: n1 = 2
print (n, n1)
int(int(n / n1 + 1) * n1)

33.8 1

34

In [15]:
n1

0.1

In [13]:
int(n)

3