In [6]:
import pandas as pd
import urllib3 as urllib
import json
from io import StringIO

import IPython.display

In [3]:
http = urllib.PoolManager()

def getResponse(url):
    operUrl = http.request('GET', url)
    if(operUrl.status==200):
        data = operUrl.data
    else:
        print("Error receiving data", operUrl.getcode())
    return data

In [24]:
ltc_data = getResponse('https://static.dwcdn.net/data/DlMVc.csv')
df = pd.read_csv(StringIO(ltc_data.decode("utf-8")))
df[df.City == 'Fargo']

,Facility Name,County,City,Facilty Licensed Bed Size,Current Active Positive Residents,Current Active Positive Staff,Facilty type of positive Resident
14,Bethany on 42nd,Cass,Fargo,116.0,0,1,Skilled
16,Bethany Towers,Cass,Fargo,133.0,0,0,Basic / Assisted
17,Ecumen Evergreen,Cass,Fargo,18.0,1,0,Skilled
18,Edgewood Fargo,Cass,Fargo,153.0,0,0,Assisted
21,Good Samaritan Fargo,Cass,Fargo,87.0,0,0,Basic / Assisted
22,Kinder Care,Cass,Fargo,22.0,0,0,Assisted
23,Maple View Memory Care Fargo,Cass,Fargo,48.0,0,0,Basic
24,New Perspectives Senior Living,Cass,Fargo,131.0,0,0,Basic/ Assisted
25,Pioneer House,Cass,Fargo,48.0,1,0,Assisted
26,Riverview Place,Cass,Fargo,54.0,0,1,Assisted/ Independent
27,Rosewood On Broadway,Cass,Fargo,125.0,0,0,Skilled
28,The Meadows on University,Cass,Fargo,128.0,1,0,Skilled/Assisted
29,Touchmark at Harwood Groves,Cass,Fargo,117.0,0,0,Basic / Assisted
30,Villa Maria,Cass,Fargo,140.0,0,1,Skilled

In [21]:
a = df.sum()
a

Facilty Licensed Bed Size             5806.0
 Current Active Positive Residents      16.0
Current Active Positive Staff           38.0
dtype: float64

In [ ]:
df = pd.DataFrame(ltc_data['FacilityValues'])
df['reporting_date'] = reporting_date
df['% deaths'] = df['deaths'] / df['confirmed_cases']
df['num of facilities'] = 1

In [ ]:
df.to_csv('Reporting_data/IL_' + reporting_date + '_LTC_data_.csv', index = False)

In [ ]:
a = df.sum()
print ('Date: %s' % reporting_date)
print ('Cases: %d' % a.confirmed_cases)
print ('Deaths:  %d' % a.deaths)
print ('Facilities: %d' % df.reporting_date.value_counts()[0])

In [ ]:
df_county = df.groupby(by=['County']).sum()
df_county['% deaths'] = (df_county['deaths'] / df_county['confirmed_cases'])
df_county.sort_values('deaths', ascending=False)

In [ ]:
import altair as alt
from vega_datasets import data
df1=df_county.sort_values(by=['deaths'], ascending=False).reset_index()
cols = ['Deaths Non LTC', 'LTC Deaths']
cols = ['LTC Deaths', 'Deaths Non LTC']


chart1 = alt.Chart(df_county.sort_values(by=['deaths'], ascending=False).reset_index()).mark_bar().encode(
    x='deaths:Q',
    y=alt.Y('County:O', sort='-x'),
    tooltip=['County', 'deaths', 'confirmed_cases', '% deaths']
)
chart2=chart1.encode(x=alt.X('% deaths', axis=alt.Axis(format='%')))
#chart2=chart1.encode(x=alt.X('% deaths'))


chart1 | chart2

In [ ]:
import altair as alt
from vega_datasets import data
df1=df_county.sort_values(by=['deaths'], ascending=False).reset_index()
cols = ['Deaths Non LTC', 'LTC Deaths']
cols = ['LTC Deaths', 'Deaths Non LTC']


chart1 = alt.Chart(df_county.sort_values(by=['deaths'], ascending=False).reset_index()).mark_bar().encode(
    x='deaths:Q',
    y=alt.Y('County:O'),
    tooltip=['County', 'deaths', 'confirmed_cases', '% deaths']
)
chart2=chart1.encode(x=alt.X('% deaths', axis=alt.Axis(format='%')))
#chart2=chart1.encode(x=alt.X('% deaths'))


chart1 | chart2

In [ ]:
df.sort_values(by=['deaths'], ascending=False).to_csv('IL_LTC_Covid.csv')

In [ ]:
df.reporting_date.value_counts()[0]

In [ ]:
df.head()

In [ ]:
df.sum()

In [ ]:
df2 = pd.read_json(r'../Covid-County-LTC-Analysis/Source_data/IL_2020-05-29LTC_data_Source.json'[FacilityValues])